[submodule "deps/openwhisk-deploy-kube"]
	path = deps/openwhisk-deploy-kube
	url = https://github.com/apache/openwhisk-deploy-kube.git
[submodule "deps/kubernetes"]
	path = deps/kubernetes
	url = https://github.com/kubernetes/kubernetes.git